// フォントカラー
$main-color--b: #000000;
$main-color--w: #ffffff;
$main-color--gray: #ebebeb;
$main-color--beige: #b1a595;

$main-color--tel: #df2323;
$main-color--textShadow-start: #7488a31e;
$main-color--textShadow-end: #7488a349;

// サイト独自のカラー
$site-color01: #002a37;
$site-color01-hover: #024c63;
$site-balloon-color: #002a37;

$site-color_01: #b2b2e8;
$site-color_02: #c8bcc7;
$site-color_03: #d2b2da;
$site-color_04: #ede1bf;
$site-color_05: #d1dbfa;



// 背景カラー
$main-color-bg: #ffffff;
$contactBtn-color--bg: #90A83D;
$item-hover--bg:#9e9a9a;
$item-hover--bg-b:#4d4d4de6;
$modal-bg:#1e1e1ee6;
$modal-close--bg:#c9c8c8;
$contact-hover--bg: #e3d8c434;

// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;


// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;

// その他
$yellow-b: #ffd40099;
$pink-t: #E76179;
$contact-item-1: #a19de0;
$contact-item-2: #c2b1c8;
$contact-item-3: #cca3ca;
$contact-item-4: #e4d5b7;
$swiper-active: #CEBB74;


// ホバー関係
$nav-hover-bg: #41606a;
$nav-active-bg: #002a37;