.l-contents{
	width: 100%;
	height: auto;
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&.-parallax_bg{//ここに背景を指定する。
					// background-image: url(../images/bg/bar_bg_s.jpg);
					// @include mq(tb){
						background-image: url(../images/bg/bar_bg.jpg);
					// }
				}
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;

			//サイト右側中段に表示 （PCのみ）
			&.-right-topBtn{
				top: 0%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 44% 10%;
				}
			}
			// サイト下部に表示（PCのみ）
			&.-right-middleBtn{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 100%;
				a{
					display: block;
					padding: 36% 12%;
				}
			}
			// サイト下部に表示（PCのみ）
			&.-right-btmBtn{
				top: 67%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 14% 14%;
				}
			}

			//サイト下部に表示 （SPのみ）
			&.-bottom-rightBtn{
				top: 0%;
				left: 75%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 0% 24%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-bottom-leftBtn{
				top: 0%;
				left: 25%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 0% 24%;
				}
			}

			// M
            &.-M-contents{
				top: 50%;
				left: 50%;
				width: auto;
				@include mq(tb){
					top: 0%;
    				left: 15.6%;
				}
				@include mq(tb-pc1000){
					top: 7%;
				}
				@include mq(tb-pc1400){
					top: 13%;
				}
				@include mq(tb-pc1600){
					top: 19%;
				}
			}

			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;
				}
			}
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				&.-Ism-content{
					@include mq(sp){
						top: 29%;
					}
				}
			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
	// 設備・仕様ページの【 戻る 】
	&.-btnArea{
		&.-return{
			a{
				display: block;
				width: 20%;
				border-radius: 5px;
				overflow: hidden;
				margin: auto;
				text-align: center;
				box-shadow: 1px 1px gray;
				@include mq(tb){
					width: 10%;
				}
				@include mq(tb-pc1400){
					width: 6%;
				}
			}
		}
	}

	&.-revelArea{
		.logoArea{
			width: 24%;
			margin: auto;
			@include mq(tb){
				width: 5%;
			}
		}
	}
	&.-ismArea{
		.logoArea{
			width: 15%;
			margin: auto auto auto 0%;
			@include mq(tb){
				width: 6%;
			}
		}
	}
	&.-surroundArea{
		.logoArea{
			width: 24%;
			margin: auto;
			@include mq(tb){
				width: 10%;
			}
		}
	}
	&.-modernArea{
		.logoArea{
			width: 24%;
			margin: auto;
			@include mq(tb){
				width: 70%;
				margin: auto auto auto 0;
			}
		}
	}
}


